<!DOCTYPE html>
<html>

<head>
  <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
  <script data-require="ng-table@*" data-semver="0.3.1" src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>
  <link data-require="ng-table@*" data-semver="0.3.1" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />
  <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

  <!--link rel="stylesheet" href="style.css" /-->
  <style>
    body {
      padding: 10px !important;
    }
    th {font-size: x-small;}

    .compositionItem, .grainSizeItem, .hardnessItem {font-size: x-small;}
    .sampleNumItem {width: 15px;}
    .sedimentaryNameItem {width: 25px;} /*class="sedimentaryNameItem"  doesnt work */
    
    /* class="sampleNumTitle"*/
  </style>
  <script src="script.js"></script>
</head>

<body ng-app="main" ng-controller="DemoCtrl">

  <!--button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button-->
  <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}

    <table ng-table="tableParams" class="table">
      <tr ng-repeat="rock in $data">
        <!--td data-title="'Sample #'" sortable="'sampleNum'" class="sampleNumItem">
          <a href="{{rock.url}}" target="_blank"> {{rock.sampleNum}} </a>
        </td-->
        <td data-title="'Sedimentary Name'" sortable="'sedimentaryName'" >
          {{rock.sedimentaryName}}
          <!--img class="thumbnail" src="{{rock.img1}}" /-->
        </td>
        <td data-title="'Image'" >
          <img class="thumbnail" src="{{rock.img1}}" />
        </td>
        <td data-title="'Sedimentary Texture'" sortable="'texture'" >
          {{rock.texture}}
          <br>
          <img class="thumbnail" src="{{rock.img1close}}" />
          <span class="compositionItem">{{rock.composition}}</span>
        </td>
        
        <td data-title="'Grain Size'" sortable="'grainSize'" class="grainSizeItem">
          {{rock.grainSize}}
        </td>
        <td data-title="'Hard'" sortable="'hardness'" class="hardnessItem" >
          {{rock.hardness}}
          <br><br>
          Acid Reaction? {{rock.acidReaction}}
        </td>
      </tr>
    </table>

</body>

</html>
